div.translate span:hover, div.translate span.hover {
    color: seagreen;
}
h3:hover, h3.hover {
    color: seagreen;
}
h4:hover, h4.hover {
    color: seagreen;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: auto;
}