div.translate span:hover, div.translate span.hover {
    color: seagreen;
}
h3:hover, h3.hover {
    color: seagreen;
}
h4:hover, h4.hover {
    color: seagreen;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: auto;
}
@media (pointer: coarse), (hover: none) {
    [title] {
      position: relative;
      display: inline-flex;
      justify-content: center; 
    }
    [title]:focus {
      color: seagreen; 
    }
    [title]:focus::after {
      content: attr(title);
      position: absolute;
      top: 100%;
      color: black;
      background-color: white;
      border: 1px solid;
      width: fit-content;
      padding: 3px;
      z-index: 10;     
    }
    /* h3[title] {
        color: red;
        position: relative;
        display: inline-flex;
        justify-content: center; 
      }
      h3[title]:focus::after {
        color: seagreen;
      }
      h3[title]:focus::after {
          content: attr(title);
          position: absolute;
          top: 100%;
          color: black;
          background-color: white;
          border: 1px solid;
          width: fit-content;
          padding: 3px;
          z-index: 10;     
        } */
  }